/* GERAL */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper{
    width: 50%;
    margin: 0 auto;
}

.article{
    position: relative;
}

.article__title{
    color: #462755;
}

.selection{
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    border: 1px gray solid;
    max-width: 300px;
}

.selection p{
    padding: 10px;
    margin: 0;
}

#arrowTop {    
    color: #462755;
    position: fixed;
    top: 5%;
    left: 5%;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}

#arrowTop::before {
  content: '▲';
}

#arrowTop:hover {
    color: #7F479B;
    transition: 0.3s;
}